<div class="container intro mt-3 text-center">
    <h1>SORTEO DE AMIGO INVISIBLE POR EMAIL</h1>
    <p class="descripcion">Sólo añade a tus amigos y nosotros nos encargamos de mandarles un correo informando a cada
        uno de su amigo
        invisible asignado. <br>
        <strong>¡Haz la temporada navideña aún más especial compartiendo momentos de sorpresas y
            regalos!</strong>
    </p>
    <div class="row my-4 steps text-center">
        <div class="col-md-4">
            <p><strong><i class="bi bi-1-circle-fill"></i> ¡Llena el Tablero de Nombres y Correos!</strong><br>
            </p>
        </div>
        <div class="col-md-4">
            <p><strong><i class="bi bi-2-circle-fill"></i> ¡Personaliza los mensajes que recibiréis!</strong></p>
        </div>
        <div class="col-md-4">
            <p><strong>
                    <i class="bi bi-3-circle-fill"></i>
                    Revísalo todo y envía los mensajes
                </strong></p>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div *ngIf="isSmall; else largeScreenTemplate" class="border rounded-4 p-3 bg-light">
        <form [formGroup]="amigo">

            <div [id]="'form-'+mostrado.numero" *ngFor="let mostrado of primerasMuestras" class="p-2 py-3">
                <h3 class="friend">Amigo {{mostrado.numero}}</h3>
                <!-- Plantilla para pantallas pequeñas -->
                <div class="col-12">
                    <label class="form-label pt-2" style="margin-bottom: 0;"><strong>Nombre</strong></label>
                    <input type="text" class="form-control" formControlName="nombre"
                        [name]="'form-'+mostrado.numero+'-nombre'" required placeholder="Nombre">
                </div>
                <div class="col-12">
                    <label class="form-label pt-2" style="margin-bottom: 0;"><strong>Email</strong></label>
                    <input type="email" class="form-control" formControlName="correo"
                        [name]="'form-'+mostrado.numero+'-correo'" required placeholder="Correo electrónico">
                </div>
                <div class="col-12">
                    <label class="form-label pt-2" style="margin-bottom: 0;"><strong>No puede regalar a <button
                                style="padding: 0;" type="button" class="btn" [autoClose]="'outside'"
                                ngbPopover="Aquí puedes evitar que ciertas personas toquen a tu amigo. Ingresa los correos de las personas que deseas excluir, separados por comas y SIN ESPACIOS.">
                                <i class="bi bi-question-circle-fill"></i>
                            </button></strong></label>
                    <input type="text" class="form-control" formControlName="excluidos"
                        [name]="'form-'+mostrado.numero+'-excluidos'" placeholder="pepe@correo.com,juan@correo.com...">
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">

                </div>
                <div class="col-md-2">
                    <button type="button" class="btn mx-2 addFriend" (click)="agregarAmigo()">+ Añadir
                        Amigo</button>
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn mt-3 continue rounded-pill offset-1 col-10"
                    (click)="submit()">Continuar</button>
            </div>

        </form>

    </div>
    <ng-template #largeScreenTemplate>
        <div class="border rounded-4 p-3 bg-light">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-xl-10">
                    <h3><i>Paso 1: </i><small>Introduce la información de los participantes</small></h3>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-2">
                    <button type="button" class="btn mx-2 addFriend" (click)="agregarAmigo()">+ Añadir
                        Amigo</button>
                </div>
            </div>

            <form class="" [formGroup]="amigo">

                <div class="row">
                    <div class="col-md-4 text-center">
                        <label class="form-label pt-3"><strong>Nombre</strong></label>
                    </div>
                    <div class="col-md-4 text-center">
                        <label class="form-label pt-3"><strong>Email</strong></label>
                    </div>
                    <div class="col-md-4 text-center">
                        <label class="form-label pt-3"><strong>No puede regalar a <button type="button" class="btn"
                                    [autoClose]="'outside'"
                                    ngbPopover="Aquí puedes evitar que ciertas personas toquen a tu amigo. Ingresa los correos de las personas que deseas excluir, separados por comas y SIN ESPACIOS.">
                                    <i class="bi bi-question-circle-fill"></i>
                                </button>

                            </strong></label>
                    </div>
                </div>

                <!-- Iterar para crear campos para personas -->
                <div formArrayName="amigos">
                    <div [formGroupName]="i" *ngFor="let amigo of formularioAmigos.controls; let i = index" class="p-2">
                        <div class="row">
                            <div class="col-4">
                                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                            </div>
                            <div class="col-4">
                                <input type="email" class="form-control" formControlName="correo"
                                    placeholder="Correo electrónico">
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" formControlName="excluidos"
                                    placeholder="pepe@correo.com,juan@correo.com...">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-8 col-lg-8 col-xl-10">

                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-2">
                        <button type="button" class="btn mx-2 addFriend" (click)="agregarAmigo()">+ Añadir
                            Amigo</button>
                    </div>
                </div>

                <!-- Botón para enviar el formulario -->
                <div class="row">
                    <button type="button" class="btn mt-3 continue rounded-pill offset-1 col-10"
                        (click)="submit()">Continuar</button>
                </div>
            </form>
        </div>
    </ng-template>
</div>